.icon-details-container {
  background-color: white;
  min-height: 100%;
  padding: 0 15px 15px;
}
.icon-show-container {
  background-color: white;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-top: 20px;
}
.icon-show-container .icon {
  zoom: 400%;
}
.codepen-button {
  border: 2px solid black;
  border-radius: 0;
  cursor: pointer;
  color: black;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all 150ms linear;
}
.codepen-button:hover {
  color: white;
  background-color: #673AB7;
}
.codepen-button svg {
  transition: all 150ms linear;
}
.codepen-button:hover svg {
  stroke: white;
}
.codepen-button h5 {
  display: inline;
  margin: 0;
  vertical-align: middle;
  font-size: 1rem;
  margin-right: 5px;
}
.codepen-button svg {
  height: 20px;
}
.icon-info-container {
  background-color: white;
  margin: 0 auto;
  padding: 15px 25px;
  position: absolute;
  top: 190px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.icon-info-container h2,
.icon-info-container p {
  padding: 5px 0;
  margin: 0;
}
.cssMarkup {
  padding: 5px;
  margin: 0;
}
.cssMarkup p {
  white-space: pre-wrap;
  margin: 0;
}
.cssMarkup:hover {
  background-color: #673AB7;
  color: white;
  cursor: pointer;
}
/*CHANGE DISPLAY TOP ICON STYLES ON HOVER*/
.icon-show-container .cssHover {
  /*color: #673AB7 !important;*/
  color: #673AB7 !important;
}
.icon-show-container .cssHover:before,
.icon-show-container .cssHover:after {
  /*color: #673AB7 !important;*/
  color: white !important;
}

.icon-show-container .cssHoverBefore::before,
.icon-show-container .cssHoverAfter::after {
  color: #673AB7 !important;
}
