.sidenav-container {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.closeSidenav {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px 8px;
  border: 2px solid black;
  z-index: 999;
  transition: all 150ms linear;
  font-weight: 700;
}
.closeSidenav:hover {
  color: white;
  background-color: rgb(103, 58, 183);
  cursor: pointer;
}
#header h1 {
  font-size: 1.5rem;
  padding: 5px;
}
#header a {
  display: inline-block;
  color: white;
  margin-right: 10px;
  text-decoration: none;
  font-size: 1rem
}
.github-text::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
  transform: translateY(-5px);
}
.github-text:hover::after {
  width: 100%;
}
#header svg {
  width: 26px;
  height: 26px;
  fill: white;
  margin-right: 5px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: auto;
  padding: 10px 16px;
}
.mat-form-field-infix {
  width: auto;
}
.search-container {
  width: 70%;
  margin: 3% 0 1%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}
.icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
.icons-container-inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 3% 0;
  width: 100%;
}
.icon-card {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: white;
  transition: all linear 200ms;
}
.icon-card:hover {
  transform: translateY(-5px);
}
mat-sidenav {
  width: 100%;
  position: fixed;
}
mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1.5);
}
mat-paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
#footer p {
  font-size: 0.9rem;
  color: rgb(103, 58, 183);
  margin-bottom: 25px;
}
#footer a {
  display: inline-block;
  color: rgb(103, 58, 183);
  text-decoration: none;
}
#footer a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(103, 58, 183);
  transition: width .3s;
}

#footer a:hover::after {
  width: 100%;
}
/* Larger desktop */
@media (min-width: 1200px) {
  #header h1 {
    font-size: 1.8rem;
    padding: 15px;
  }
  #footer p {
    font-size: 1rem;
  }
  mat-sidenav {
    width: 30%;
  }
  .icons-container {
    width: 70%;
  }
  .icon-card {
    width: 90px;
    height: 90px;
    margin: 20px;
  }
  mat-card-content {
    transform: scale(1.8);
  }
}
/* Large desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  mat-sidenav {
    width: 35%;
  }
  .icons-container {
    width: 70%;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  mat-sidenav {
    width: 45%;
  }
  .icons-container {
    width: 70%;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {

}
/* Landscape phones and down */
@media (max-width: 480px) {

}

