<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="(screenWidth > 768) ? 'side' : 'over'" position="end" [(opened)]="sidenavOpened">
    <app-icon-details [iconSelected]="emitIcon"></app-icon-details>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="flex-container">
      <mat-toolbar color="primary">
        <span>Application Title</span>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <span>Right Aligned Text</span>
      </mat-toolbar>
      <p>
        <mat-checkbox [(ngModel)]="sidenavOpened">sidenav.opened</mat-checkbox>
      </p>
      <div class="icons-container">
        <div *ngFor="let icon of iconCollection">
          <mat-card class="icon-card" matTooltip="{{icon.name}}" matTooltipPosition="above" (click)="onIconClick(icon)">
            <mat-card-content>
              <!-- Icon goes here -->
              <div class="icon" [ngClass]="icon.classNames">
                <i *ngIf="icon.htmlChildMarkup"></i>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <mat-toolbar color="primary">
        <span>Footer Title</span>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

