/*Code Icon*/
.code.icon:after {
  content: '';
  position: absolute;
  left: 8px;
  top: 2px;
  width: 8px;
  height: 8px;
  border-bottom: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.code.icon:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.code.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 19px;
  height: 13px;
}
/*Flag Icon*/
.flag.icon:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -2px;
  width: 1px;
  height: 15px;
  background-color: currentColor;
}
.flag.icon {
  color: #000;
  position: absolute;
  margin-top: 4px;
  width: 9px;
  height: 6px;
  border-radius: 1px;
  border: solid 1px currentColor;
}
.flag-solid.icon:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -2px;
  width: 1px;
  height: 15px;
  background-color: currentColor;
}
.flag-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 4px;
  width: 9px;
  height: 6px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
}
/*Tag Icon*/
.tag.icon:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: currentColor;
}
.tag.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tag.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 7px;
  height: 7px;
  border-radius: 1px 1px 1px 0;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
}
.tag-solid.icon:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  color: white;
  background-color: currentColor;
}
.tag-solid.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tag-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 7px;
  height: 7px;
  border-radius: 1px 1px 1px 0;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  background-color: currentColor;
}
/*Signal Icon*/
.signal.icon:after {
  content: '';
  position: absolute;
  left: -9px;
  top: -9px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
}
.signal.icon:before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
}
.signal.icon {
  color: #000;
  position: absolute;
  margin-top: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
  transform: translateY(5px);
}
/*Export Icon*/
.export.icon:after {
  content: '';
  position: absolute;
  left: 3px;
  top: -5px;
  width: 4px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.export.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 2px;
  width: 1px;
  height: 8px;
  border-left: solid 3px white;
  border-right: solid 3px white;
  background-color: currentColor;
}
.export.icon {
  color: #000;
  position: absolute;
  margin-top: 10px;
  width: 12px;
  height: 9px;
  border-radius: 1px;
  border: solid 1px currentColor;
}
/*Upload Icon*/
.upload.icon:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 4.5px;
  width: 4px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.upload.icon:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 6px;
  width: 1px;
  height: 7px;
  background-color: currentColor;
}
.upload.icon {
  color: #000;
  position: absolute;
  margin-top: 14px;
  width: 15px;
  height: 4px;
  border: solid 1px currentColor;
  border-top: none;
  border-radius: 1px;
}
/*Import Icon*/
.import.icon:after {
  content: '';
    position: absolute;
    left: 4px;
    top: 0px;
    width: 4px;
    height: 4px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.import.icon:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 3px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  border-left: solid 3px white;
  border-right: solid 3px white;
}
.import.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 14px;
  height: 11px;
  border: solid 1px currentColor;
  border-radius: 1px;
}
/*Download Icon*/
.download.icon:after {
  content: '';
  position: absolute;
  left: 4.5px;
  top: -3px;
  width: 4px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.download.icon:before {
  content: '';
  position: absolute;
  left: 6px;
  top: -6px;
  width: 1px;
  height: 7px;
  background-color: currentColor;
}
.download.icon {
  color: #000;
  position: absolute;
  margin-top: 12px;
  width: 15px;
  height: 4px;
  border-radius: 1px;
  border: solid 1px currentColor;
  border-top: none;
}
/*Upload 2 Icon*/
.upload2.icon:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.upload2.icon:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 2px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  border-left: solid 3px white;
  border-right: solid 3px white;
}
.upload2.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 12px;
  height: 11px;
  border: solid 1px currentColor;
  border-radius: 1px;
}
/*Shutdown Icon*/
.shutdown.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -2px;
  width: 7px;
  height: 7px;
  border-left: solid 3px white;
  border-right: solid 3px white;
  background-color: currentColor;
}
.shutdown.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
/*Paperclip Icon*/
.paperclip.icon:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 3px;
  height: 10px;
  border-radius: 4px 4px 0 0;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
}
.paperclip.icon:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -1px;
  width: 5px;
  height: 6px;
  border-radius: 0 0 3px 3px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.paperclip.icon {
  color: #000;
  position: absolute;
  margin-top: 4px;
  width: 7px;
  height: 12px;
  border-radius: 4px 4px 0 0;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Retweet Icon*/
.retweet.icon:after {
  content: '';
  position: absolute;
  right: -3.5px;
  bottom: -2px;
  width: 0;
  height: 0;
  border-top: solid 3px currentColor;
  border-bottom: solid 3px white;
  border-left: solid 3px white;
  border-right: solid 3px white;
}
.retweet.icon:before {
  content: '';
  position: absolute;
  left: -3.5px;
  top: -2px;
  width: 0;
  height: 0;
  border-top: solid 3px white;
  border-bottom: solid 3px currentColor;
  border-left: solid 3px white;
  border-right: solid 3px white;
}
.retweet.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 13px;
  height: 9px;
  border-radius: 1px;
  border: solid 1px currentColor;
}
/*Key Icon*/
.key.icon:after {
  content: '';
  position: absolute;
  left: 13px;
  top: 3px;
  width: 1px;
  height: 3px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
.key.icon:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 11px;
  height: 1px;
  background-color: currentColor;
}
.key.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.key-solid.icon:after {
  content: '';
  position: absolute;
  left: 13px;
  top: 3px;
  width: 1px;
  height: 3px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
.key-solid.icon:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 11px;
  height: 1px;
  background-color: currentColor;
}
.key-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
/*Key 2 Icon*/
.key2.icon:after {
  content: '';
  position: absolute;
  left: 14px;
  top: 0px;
  width: 1px;
  height: 3px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
.key2.icon:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 2.5px;
  width: 12px;
  height: 1px;
  background-color: currentColor;
}
.key2.icon {
  color: #000;
  position: absolute;
  margin-top: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.key2-solid.icon:after {
  content: '';
  position: absolute;
  left: 14px;
  top: 0px;
  width: 1px;
  height: 3px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
.key2-solid.icon:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 2.5px;
  width: 12px;
  height: 1px;
  background-color: currentColor;
}
.key2-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
/*Refresh Icon*/
.refresh.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 8px;
  width: 4px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-22.5deg);
  transform: rotate(-22.5deg);
}
.refresh.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
}
/*Pilcrow Icon*/
.pilcrow.icon:before {
  content: '';
  position: absolute;
  left: 5px;
  top: -1px;
  height: 16px;
  width: 2px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
.pilcrow.icon {
  color: #000;
  position: absolute;
  margin-top: 2px;
  width: 8px;
  height: 8px;
  border-radius: 5px 0 0 5px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.pilcrow-solid.icon:before {
  content: '';
  position: absolute;
  left: 5px;
  top: -1px;
  height: 16px;
  width: 2px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
.pilcrow-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 2px;
  width: 8px;
  height: 8px;
  border-radius: 5px 0 0 5px;
  border-left: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
}
/*Justified Icon*/
.justified.icon:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 17px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.justified.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 17px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
/*Paragraph Direction Icon*/
.paragraph-direction.icon:after {
  content: '';
  position: absolute;
  top: 3.4px;
  left: 6px;
  width: 0;
  height: 0;
  border-left: solid 2px white;
  border-right: solid 2px currentColor;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}
.paragraph-direction.icon:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-right: solid 1px currentColor;
}
.paragraph-direction.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 17px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
/*Left Align Icon*/
.left-align.icon:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 11px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.left-align.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 17px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
/*Center Align Icon*/
.center-align.icon:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 3px;
  width: 11px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.center-align.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 17px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
/*Right Align Icon*/
.right-align.icon:before {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 11px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.right-align.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 17px;
  height: 5px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
/*Indent Icon*/
.indent.icon:after {
  content: '';
  position: absolute;
  top: 1px;
  width: 0;
  height: 0;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
  border-left: solid 3px currentColor;
  border-right: solid 3px transparent;
}
.indent.icon:before {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  width: 11px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.indent.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 17px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
/*Outdent Icon*/
.outdent.icon:after {
  content: '';
  position: absolute;
  top: 1px;
  left: -3px;
  width: 0;
  height: 0;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
  border-left: solid 3px transparent;
  border-right: solid 3px currentColor;
}
.outdent.icon:before {
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  width: 11px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.outdent.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 17px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
/*Mouse Icon*/
.mouse.icon:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 5px;
  width: 1px;
  height: 7px;
  background-color: currentColor;
}
.mouse.icon:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -1px;
  width: 13px;
  height: 1px;
  background-color: currentColor;
}
.mouse.icon {
  color: #000;
  position: absolute;
  margin-top: 1px;
  width: 13px;
  height: 17px;
  border: solid 1px currentColor;
  border-radius: 6px;
}
.mouse-solid.icon:after {
  content: '';
  position: absolute;
  left: 5px;
  top: -1px;
  width: 1px;
  height: 7px;
  color: white;
  background-color: currentColor;
}
.mouse-solid.icon:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -1px;
  width: 13px;
  height: 1px;
  color: white;
  background-color: currentColor;
}
.mouse-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 1px;
  width: 13px;
  height: 17px;
  border-radius: 6px;
  border: solid 1px currentColor;
  background-color: currentColor;
}
/*Keyboard Icon*/
.keyboard.icon:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 5px;
  width: 8px;
  height: 1px;
  background-color: currentColor;
}
.keyboard.icon:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 3px;
  width: 1px;
  height: 1px;
  border: 1px solid transparent;
  box-shadow: -2px 0 0 currentColor, 2px 0 0 currentColor, 0 -2px 0 currentColor, 0 2px 0 currentColor, -6px 0 0 currentColor, 6px 0 0 currentColor, -4px -2px 0 currentColor, -4px 2px 0 currentColor, 4px -2px 0 currentColor, 4px 2px 0 currentColor;
}
.keyboard.icon {
  color: #000;
    position: absolute;
    margin-top: 4px;
    width: 20px;
    height: 13px;
    border-radius: 1px;
    border: solid 1px currentColor;
}
/*Left Double Quote Icon*/
.left-double-quote.icon:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.left-double-quote.icon:before {
  content: '';
  position: absolute;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.left-double-quote.icon i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.left-double-quote.icon i:before {
  content: '';
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.left-double-quote.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 17px;
  height: 11px;
}
.left-double-quote-solid.icon:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 50%;
  top: 3px;
  left: 9px;
}
.left-double-quote-solid.icon:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 50%;
  top: 3px;
}
.left-double-quote-solid.icon i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.left-double-quote-solid.icon i:before {
  content: '';
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.left-double-quote-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 17px;
  height: 11px;
}
/*Right Double Quote Icon*/
.right-double-quote.icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.right-double-quote.icon:before {
  content: '';
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.right-double-quote.icon i:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px transparent;
  border-top: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.right-double-quote.icon i:before {
  content: '';
  position: absolute;
  left: -6px;
  top: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px transparent;
  border-top: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.right-double-quote.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 17px;
  height: 11px;
}
.right-double-quote-solid.icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.right-double-quote-solid.icon:before {
  content: '';
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.right-double-quote-solid.icon i:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px transparent;
  border-top: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.right-double-quote-solid.icon i:before {
  content: '';
  position: absolute;
  left: -6px;
  top: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px transparent;
  border-top: solid 1px transparent;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.right-double-quote-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 17px;
  height: 11px;
}
/*Left Single Quote*/
.left-single-quote.icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.left-single-quote.icon:before {
  content: '';
  position: absolute;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.left-single-quote.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 9px;
  height: 11px;
}
.left-single-quote-solid.icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-left: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.left-single-quote-solid.icon:before {
  content: '';
  position: absolute;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.left-single-quote-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 9px;
  height: 11px;
}
/*Right Single Quote Icon*/
.right-single-quote.icon:after {
  content: '';
  position: absolute;
  left: -6px;
  top: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-right: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-left: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.right-single-quote.icon:before {
  content: '';
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.right-single-quote.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 9px;
  height: 11px;
}
.right-single-quote-solid.icon:after {
  content: '';
  position: absolute;
  left: -6px;
  top: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-right: solid 1px currentColor;
  border-top: solid 1px transparent;
  border-left: solid 1px transparent;
  border-bottom: solid 1px transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.right-single-quote-solid.icon:before {
  content: '';
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.right-single-quote-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 5px;
  width: 9px;
  height: 11px;
}
/*Mustache Icon*/
.mustache.icon:after {
  content: '';
  position: absolute;
  left: 14px;
  top: 4px;
  width: 8px;
  height: 11px;
  border: 0 solid transparent;
  border-bottom: 6px solid currentColor;
  border-radius: 0 0 100% 0;
  -webkit-transform-origin: left 6px;
  transform-origin: left 6px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.mustache.icon:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 4px;
  width: 8px;
  height: 11px;
  border-radius: 0 0 0 100%;
  border: 0 solid transparent;
  border-bottom: 6px solid currentColor;
  -webkit-transform-origin: right 7px;
  transform-origin: right 6px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.mustache.icon i:after {
  content: '';
  position: absolute;
  left: 12px;
  top: 7.6px;
  width: 6px;
  height: 5.5px;
  color: white;
  border: 0 solid transparent;
  border-bottom: 4px solid currentColor;
  border-radius: 0 0 100% 0;
  -webkit-transform-origin: left 5px;
  transform-origin: left 5px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.mustache.icon i:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 7.6px;
  width: 6px;
  height: 5.5px;
  color: white;
  border: 0 solid transparent;
  border-bottom: 4px solid currentColor;
  border-radius: 0 0 0 100%;
  -webkit-transform-origin: right 5px;
  transform-origin: right 5px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.mustache.icon i {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  color: white;
  box-shadow: 6px 9px 0 0 currentColor, 11px 9px 0 0 currentColor;
  position: absolute;
  z-index: 2;
}
.mustache.icon {
  color: #000;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: 5px 8px 0 0 currentColor, 10px 8px 0 0 currentColor;
  transform: translateX(-6px);
}
.mustache-solid.icon:after {
  content: '';
  position: absolute;
  left: 14px;
  top: 4px;
  width: 8px;
  height: 11px;
  border: 0 solid transparent;
  border-bottom: 6px solid currentColor;
  border-radius: 0 0 100% 0;
  -webkit-transform-origin: left 6px;
  transform-origin: left 6px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.mustache-solid.icon:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 8px;
  height: 11px;
  border-radius: 0 0 0 100%;
  border: 0 solid transparent;
  border-bottom: 6px solid currentColor;
  -webkit-transform-origin: right 7px;
  transform-origin: right 6px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.mustache-solid.icon {
  color: #000;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: 5px 8px 0 0 currentColor, 10px 8px 0 0 currentColor;
  transform: translateX(-6px);
}
/*Eye Icon*/
.eye.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.eye.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.eye-solid.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}
.eye-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.eye-solid2.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: white;
  background-color: currentColor;
}
.eye-solid2.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.eye-solid3.icon:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  color: white;
  border: solid 1px currentColor;
}
.eye-solid3.icon {
  color: #000;
  position: absolute;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 70% 15%;
  border: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*Battery Icon*/
.battery-0.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 1px;
  width: 2px;
  height: 3px;
  border-radius: 0 2px 2px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
.battery-0.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
}
.battery-1.icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 5px;
  background-color: currentColor;
}

.battery-1.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 1px;
  width: 2px;
  height: 3px;
  border-radius: 0 2px 2px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.battery-1.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.battery.icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 5px;
  background-color: currentColor;
}

.battery.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 1px;
  width: 2px;
  height: 3px;
  border-radius: 0 2px 2px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.battery.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.battery-3.icon:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  height: 5px;
  background-color: currentColor;
}

.battery-3.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 1px;
  width: 2px;
  height: 3px;
  border-radius: 0 2px 2px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}

.battery-3.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.battery-solid-0.icon:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 5px;
  width: 1px;
  color: white;
  border-radius: 1px 0 0 1px;
  background-color: currentColor;
}

.battery-solid-0.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 0;
  width: 3px;
  height: 5px;
  border-radius: 0 2px 2px 0;
  background-color: currentColor;
}

.battery-solid-0.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.battery-solid-1.icon:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 5px;
  width: 5px;
  color: white;
  border-radius: 1px 0 0 1px;
  background-color: currentColor;
}

.battery-solid-1.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 0;
  width: 3px;
  height: 5px;
  border-radius: 0 2px 2px 0;
  background-color: currentColor;
}

.battery-solid-1.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.battery-solid.icon:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 5px;
  width: 9px;
  color: white;
  border-radius: 1px 0 0 1px;
  background-color: currentColor;
}

.battery-solid.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 0;
  width: 3px;
  height: 5px;
  border-radius: 0 2px 2px 0;
  background-color: currentColor;
}

.battery-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.battery-solid-3.icon:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 5px;
  width: 11px;
  color: white;
  border-radius: 1px;
  background-color: currentColor;
}

.battery-solid-3.icon:before {
  content: '';
  position: absolute;
  right: -3px;
  top: 0;
  width: 3px;
  height: 5px;
  border-radius: 0 2px 2px 0;
  background-color: currentColor;
}

.battery-solid-3.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  width: 13px;
  height: 7px;
  border-radius: 2px;
  border: solid 1px currentColor;
  background-color: currentColor;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
