/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  font-family: 'Belwe';
  margin: 0;
  padding: 0;
}
